<%= form_for @character do |c| %>
    <%= c.hidden_field :user_id %>
    <%= c.label :name %>
    <%= c.text_field :name %>
    <br>
    <%= c.label :level %>
    <%= c.number_field :level %>
    <br> <br>
    <% if !@character.race_id %>
      <%= c.collection_radio_buttons :race_id, Race.all, :id, :name %>
        
         <br><br>
    <% else %>
        <%= c.hidden_field :race_id %>
    <% end %>

    <% if !@character.career_id %>
        <h4>Select a Career:</h4>
        <%= c.collection_radio_buttons :career_id, Career.all, :id, :name %>
    <% else %>
        <%= c.hidden_field :career_id %>
    <% end %>
    <br>
    <%= c.submit %>
<% end %>