<nav class="navbar navbar-light px-0" style="background-color: #e3f2fd;" >
    <ul>
        Welcome
        <% if current_user %>
            <%= current_user.username || current_user.email %>
        <% end %>!
        <%= link_to 'Home', root_path, class: "btn btn-outline-info" %>
        <%= link_to 'Races', races_path, class: "btn btn-outline-info" %>
        <%= link_to 'Careers', careers_path, class: "btn btn-outline-info" %>
        <% if !user_signed_in? %>
            <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-info nav-item" %>
            <%= link_to 'Register', new_user_registration_path, class: "btn btn-outline-info" %>
        <% else %>
            <%= link_to 'Logout', destroy_user_session_path, method: "delete", class: "btn btn-outline-info" %>
        <% end %>
    </ul>
    
</nav>